html
  head
    link(rel="stylesheet", href="style.css")
    title= "Node status"
  body
    h1.title= "Node status"
    h2.title= "Activation time: 1542300000 | Activation height: 556766"

    h1.center Top block:

    each val in block
      div.center
        if val.name == "BitcoinABC" || val.name == "BitcoinSV"
          h2= val.name
          //- h3= val.ip
          h4= "Height: " + val.lastBlock.height + ". Hash: " + val.lastBlock.hash
          h4= "Time: " + val.lastBlock.time + ". Median Time: " + val.lastBlock.medianTime
          h4= "Difficulty: " + val.data[0].difficulty + ". ChainWork: " + val.data[0].chainwork.replace(/^0+/, '')

    h1.center Last Blocks:

    each val in block
      if val.name == "BitcoinABC" || val.name == "BitcoinSV"
        div.center
          h3= val.name
          //- h3= val.ip
          table(id="forks")
            tr 
              th Hash
              th Height
              th Chainwork
              th Difficulty
              th Time
              th MedianTime
              th Previous Hash
              th Transactions
              th Size

            each block_data in val.data
              tr
                td= block_data.hash
                td= block_data.height
                td= block_data.chainwork.replace(/^0+/, '')
                td= block_data.difficulty
                td= block_data.time
                td= block_data.mediantime
                td= block_data.prevhash
                td= block_data.txns
                td= block_data.size
      else
        div(align="center")
          table(id="forks")
            h3= val.name
            tr 
              th Hash
              th Height
              each block_data in val.data
                tr
                  td= block_data.hash
                  td= block_data.height



     
       
      